---
layout: main-layout.hbs
title: AUI - Getting started
---

<!-- Code Mirror resources -->
<script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.13.4/codemirror.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.13.4/mode/xml/xml.min.js"></script>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.13.4/codemirror.min.css">
<link rel="stylesheet" href="styles/syntax-highlighting.css">

<section id="content" role="main">
    <header class="aui-page-header">
        <div class="aui-page-header-inner">
            <div class="aui-page-header-main intro-header">
                <h1>Getting started</h1>
            </div>
        </div>
    </header>
    <div class="aui-page-panel">
        <div class="aui-page-panel-inner">
            <section class="aui-page-panel-content">
                <p>Welcome to the Atlassian User Interface library.</p>
                <p>To get started with AUI, there are a few steps:</p>
                <ol>
                    <li>Choose a deployment option,</li>
                    <li>Include the AUI resources on your page, and</li>
                    <li>Start using AUI's components.</li>
                </ol>

                <h2 id="deployment-option">Choose a deployment option</h2>

                <p>Depending on the version of AUI, there will be a number of options for how you can consume the AUI library.</p>

                <p>Here are a few of the options available to you:</p>
                <ol type="a">
                    <li><a href="#node-package">Use the Node package</a></li>
                    <li><a href="#p2-plugin">Use the Atlassian Plugin</a></li>
                    <li><a href="#download-aui">Download the static files</a></li>
                    <li><a href="#other-options">Other options</a></li>
                </ol>

                <h3 id="node-package">Using AUI through Node.js</h3>

                <p>
                    The AUI library is <a href="https://www.npmjs.com/package/@atlassian/aui">published on npmjs.com</a>.
                    You can consult the package's README file for consumption options through Node.
                </p>

                <h3 id="p2-plugin">Using AUI through the Atlassian Plugin</h3>

                <p>
                    AUI is shipped in most Atlassian Server products as an Atlassian Plugin.
                    Including AUI resources on a page is a matter of requiring the appropriate <code>web-resource</code> key.
                    <a href="/aui/latest/index.html">The AUI documentation</a> lists these keys for each component.
                    You may also want to read <a href="https://developer.atlassian.com/docs/getting-started">Atlassian's getting started guide for writing plugins</a>.
                </p>

                <h3 id="download-aui">Downloading static files</h3>
                <ol>
                    <li>
                        <p>The zip file contains both core/stable components from AUI, plus some components with experimental APIs (in separate resources).</p>
                        <p><a href="https://packages.atlassian.com/maven-public/com/atlassian/aui/aui-flat-pack/{{version}}/aui-flat-pack-{{version}}.zip">Download this zip</a>.</p>
                    </li>
                    <li>
                        <p>
                            Once you've downloaded the file and if you want everything, including AUI's dependencies,
                            add the following code to the HEAD of your templates or page:
                        </p>
                        <p><textarea class="code-example">
                            <link rel="stylesheet" href="aui/aui-prototyping.css" media="all">
                            <script src="aui/aui-prototyping.min.js"></script>
                        </textarea></p>
                    </li>
                    <li>Update the path to point to the location of your copy.</li>
                </ol>

                <h3 id="other-options">Other options</h3>

                <p>
                    Some versions of AUI are available via CDN. You can check the <a href="https://aui-cdn.atlassian.com">AUI CDN website</a> for the versions Atlassian hosts,
                    and instructions on consuming them.
                </p>


                <h2 id="start-coding">Start coding!</h2>

                <p>Once you've included AUI in to your project, <a href="/aui/latest/docs">check out AUI's documentation to learn about how to use the AUI components</a>.</p>

                <p>If you have any questions or run in to troubles using AUI, <a href="{{communityHelpLink}}">ask a question in our developer community</a>.</p>

                <p>Happy coding!</p>
            </section>
        </div>
    </div>
</section>

<script>
    var codeExamples = document.querySelectorAll('textarea');
    [].forEach.call(codeExamples, function (el) {
        el.textContent = el.textContent.split('\n').map(function(s) { return s.trim(); }).join('\n').replace(/\s*$/, '');;
        CodeMirror.fromTextArea(el, {
            mode: 'xml',
            readOnly: true,
            cursorBlinkRate: 0,
            styleSelectedText: true,
            theme: 'stash-default'
        })
    });
</script>
