---
component: Toolbar2
analytics:
  pageCategory: component
  component: toolbar2
status:
  api: general
  core: true
  wrm: com.atlassian.auiplugin:aui-toolbar2
  amd: false
  experimentalSince: 5.0
  generalSince: 5.1
---

<h2>Summary</h2>

<p>
    AUI Toolbar 2 is a wrapper around the <a href="{{rootPath}}docs/buttons.html">AUI Buttons</a>
    component for grouping and arranging actions.
</p>
<p>The toolbar pattern is responsible for the layout:</p>
<ul>
    <li>(required) primary and secondary, defaulting to left/right alignment</li>
    <li>(optional) groups, defaulting to rows - if only one row is required this can be omitted</li>
</ul>
<p>The buttons component provides all buttons, button states, dropdown integration etc.</p>

<h2>Status</h2>
{{> status }}

<h2>Examples</h2>
<div class="aui-flatpack-example toolbar2-example">
    <div class="aui-toolbar2">
        <div class="aui-toolbar2-inner">
            <div class="aui-toolbar2-primary">
                <div id="button-set" class="aui-buttons">
                    <button class="aui-button aui-button-primary">Edit</button>
                </div>
                <div id="button-set1" class="aui-buttons">
                    <button class="aui-button">Assign</button>
                    <button class="aui-button">Assign to me</button>
                    <button class="aui-button">Comment</button>
                    <button class="aui-button aui-dropdown2-trigger" aria-owns="toolbardemo-dropdown2-more" aria-haspopup="true" aria-controls="toolbardemo-dropdown2-more" data-container="#button-set1">More</button>
                </div>
            </div>
            <div class="aui-toolbar2-secondary">
                <div id="button-set2" class="aui-buttons">
                    <button class="aui-button aui-dropdown2-trigger" aria-owns="dropdown2-view" aria-haspopup="true" aria-controls="dropdown2-view" data-container="#button-set2"><span class="aui-icon aui-icon-small aui-iconfont-configure">More</span>
                    </button>
                </div>
            </div>
        </div>
        <!-- .aui-toolbar-inner -->
    </div>

    <div id="toolbardemo-dropdown2-more" class="aui-dropdown2 aui-style-default" data-dropdown2-alignment="left">
        <div class="aui-dropdown2-section">
            <ul class="aui-list-truncate">
                <li><a href="#" class="active">Agile board</a>
                </li>
                <li><a href="#">Rank to top</a>
                </li>
                <li><a href="#">Rank to bottom</a>
                </li>
            </ul>
        </div>
        <div class="aui-dropdown2-section">
            <ul class="aui-list-truncate">
                <li><a href="#">Log work</a>
                </li>
            </ul>
        </div>
        <div class="aui-dropdown2-section">
            <ul class="aui-list-truncate">
                <li><a href="#">Attach files</a>
                </li>
                <li><a href="#">Attach screenshot</a>
                </li>
                <li><a href="#">Add/Edit UI mockup</a>
                </li>
            </ul>
        </div>
        <div class="aui-dropdown2-section">
            <ul class="aui-list-truncate">
                <li><a href="#">Voters</a>
                </li>
                <li><a href="#">Watch issue</a>
                </li>
                <li><a href="#">Watchers</a>
                </li>
            </ul>
        </div>
        <div class="aui-dropdown2-section">
            <ul class="aui-list-truncate">
                <li><a href="#">Create sub-task</a>
                </li>
                <li><a href="#">Convert to sub-task</a>
                </li>
            </ul>
        </div>
        <div class="aui-dropdown2-section">
            <ul class="aui-list-truncate">
                <li><a href="#">Move</a>
                </li>
                <li><a href="#">Link</a>
                </li>
                <li><a href="#">Clone</a>
                </li>
                <li><a href="#">Labels</a>
                </li>
                <li><a href="#">Create test session</a>
                </li>
            </ul>
        </div>
        <div class="aui-dropdown2-section">
            <ul class="aui-list-truncate">
                <li><a href="#">Delete</a>
                </li>
            </ul>
        </div>
    </div>

    <div id="dropdown2-view" class="aui-dropdown2 aui-style-default" data-dropdown2-alignment="right">
        <ul class="aui-list-truncate">
            <li><a href="#" class="active">XML</a>
            </li>
            <li><a href="#" class="">Word</a>
            </li>
            <li><a href="#" class="">Print version</a>
            </li>
        </ul>
    </div>
</div>



<h2>Code</h2>

<p>Simple toolbar with a group of buttons:</p>
<aui-docs-example>
    <noscript is="aui-docs-code" type="text/html">
        <div class="aui-toolbar2" role="toolbar">
            <div class="aui-toolbar2-inner">
                <button class="aui-button">One</button>
                <button class="aui-button aui-button-primary">Two</button>
                <button class="aui-button">Three</button>
            </div>
        </div>
    </noscript>
</aui-docs-example>

<p>Single-row toolbar with left/right layout:</p>
<aui-docs-example>
    <noscript is="aui-docs-code" type="text/html">
        <div class="aui-toolbar2" role="toolbar">
            <div class="aui-toolbar2-inner">
                <div class="aui-toolbar2-primary">
                    <div class="aui-buttons">
                        <button class="aui-button aui-button-primary">One</button>
                    </div>
                    <div class="aui-buttons">
                        <button class="aui-button">Two</button>
                        <button class="aui-button">Three</button>
                        <button class="aui-button">Four</button>
                    </div>
                    <div class="aui-buttons">
                        <button class="aui-button">Five</button>
                        <button class="aui-button">Six</button>
                    </div>
                </div>
                <div class="aui-toolbar2-secondary">
                    <div class="aui-buttons">
                        <button class="aui-button">Seven</button>
                    </div>
                    <div class="aui-buttons">
                        <button class="aui-button">Eight</button>
                        <button class="aui-button">Nine</button>
                        <button class="aui-button">Ten</button>
                    </div>
                </div>
            </div>
        </div>
    </noscript>
</aui-docs-example>

<p>A toolbar with multiple rows:</p>
<aui-docs-example>
    <noscript is="aui-docs-code" type="text/html">
        <div class="aui-toolbar2" role="toolbar">
            <div class="aui-toolbar2-inner">
                <div class="aui-toolbar2-group">
                    <div class="aui-toolbar2-primary">
                        <div class="aui-buttons">
                            <button class="aui-button aui-button-primary">One</button>
                        </div>
                        <div class="aui-buttons">
                            <button class="aui-button">Two</button>
                            <button class="aui-button">Three</button>
                            <button class="aui-button">Four</button>
                        </div>
                    </div>
                    <div class="aui-toolbar2-secondary">
                        <div class="aui-buttons">
                            <button class="aui-button">Five</button>
                            <button class="aui-button">Six</button>
                        </div>
                    </div>
                </div>
                <div class="aui-toolbar2-group">
                    <div class="aui-buttons">
                        <button class="aui-button">Seven</button>
                    </div>
                    <div class="aui-buttons">
                        <button class="aui-button">Eight</button>
                        <button class="aui-button">Nine</button>
                        <button class="aui-button">Ten</button>
                    </div>
                </div>
            </div>
        </div>
    </noscript>
</aui-docs-example>
