---
component: AUI upgrade guides
analytics:
  pageCategory: upgrade-guide
  component: all
---

<p>
    The following guides list all of the backward incompatible changes and their alternatives.
    If no alternative is provided, advice will be given on how to proceed.
</p>

<h3>AUI version upgrade guides</h3>

<ul>
    <li><a href="{{rootPath}}docs/upgrades/aui-8.html">AUI 8.x upgrade guides</a>.</li>
    <li><a href="{{rootPath}}docs/upgrades/aui-7.html">AUI 7.x upgrade guides</a>.</li>
    <li><a href="{{rootPath}}docs/upgrades/aui-5.html">AUI 5.x upgrade guides</a>.</li>
</ul>

<h3>AUI component API upgrade guides</h3>

<ul>
    <li>
        <a href="{{rootPath}}docs/upgrades/dialog2.html">
            Dialog 1 &rarr; Dialog 2
        </a>
    </li>
    <li>
        <a href="{{rootPath}}docs/upgrades/dropdown-menu-component.html">
            Dropdown 1 &rarr; <var>&lt;aui-dropdown-menu&gt;</var>
        </a>
    </li>
    <li>
        <a href="{{rootPath}}docs/upgrades/inline-dialog-component.html">
            Inline Dialog 1 &rarr; <var>&lt;aui-inline-dialog&gt;</var>
        </a>
    </li>
</ul>
