@import '../theme';

@aui-ffi-field-bg-color: @aui-form-field-default-bg-color;
@aui-ffi-field-bg-color-disabled: @aui-form-disabled-field-bg-color;
@aui-ffi-field-border-color: @aui-form-field-border-color;
@aui-ffi-field-border-color-focused: @aui-form-field-border-color;
@aui-ffi-field-border-radius: @aui-form-field-border-radius;

@aui-ffi-field-text-color: @aui-form-field-default-text-color;
@aui-ffi-field-text-color-disabled: @aui-form-disabled-field-text-color;
@aui-ffi-field-font-size: 14px;
@aui-ffi-field-default-width: 250px;
@aui-ffi-field-horizontal-padding: 5px;
@aui-ffi-value-text-color: @aui-color-charcoal;

@aui-ffi-button-horizontal-padding: 10px;

@aui-ffi-button-bg-color: @aui-button-default-bg-color;
@aui-ffi-button-border-color: @aui-ffi-field-border-color;
@aui-ffi-button-text-color: @aui-button-default-text-color;

@aui-ffi-button-bg-color-hover: @aui-button-default-hover-bg-color;
@aui-ffi-button-text-color-hover: @aui-button-default-text-color;

@aui-ffi-button-bg-color-active: @aui-button-default-active-bg-color;
@aui-ffi-button-text-color-active: @aui-button-default-active-text-color;

@aui-ffi-button-bg-color-disabled: @aui-button-default-disabled-bg-color;
@aui-ffi-button-border-color-disabled: @aui-ffi-button-border-color;
@aui-ffi-button-text-color-disabled: @aui-button-default-disabled-text-color;

@aui-ffi-clear-icon-color: @aui-color-medium-gray;
@aui-ffi-clear-icon-color-hover: @aui-color-charcoal;

@aui-legacy-ffi-field-bg-color: @aui-color-white;
@aui-legacy-ffi-field-border-color: @ak-color-N50;
