@import (reference) '../theme';

@aui-flag-vertical-padding: 20px;

@aui-flag-fade-in-time: 0.2s;
@aui-flag-slide-in-time: 0.5s;
@aui-flag-fade-out-time: 0.8s;
@aui-flag-slide-out-time: 1s;
@aui-flag-stack-shrink-time: 0.5s;
@aui-flag-stack-shrink-delay: 0.5s;

@aui-flag-padding-right: 20px;
@aui-flag-padding-left: 20px;
@aui-flag-vertical-padding: 20px;
@aui-flag-close-icon-padding: 20px;
@aui-flag-side-width: 40px;

@aui-flag-default-bg-color: @ak-color-N0;
@aui-flag-default-color: @ak-color-B400;
@aui-flag-info-color: @aui-flag-default-color;
@aui-flag-success-color: @ak-color-G300;
@aui-flag-warning-color: @ak-color-Y300;
@aui-flag-error-color: @ak-color-R300;
