@import '../theme';

@aui-notification-error-color: @aui-color-red;
@aui-notification-error-text-color: @aui-color-white;
@aui-notification-error-bg-color: @ak-color-N20;

@aui-notification-info-color: @aui-color-white;
@aui-notification-info-border-color: @aui-color-ash-gray;
@aui-notification-info-icon-color: @aui-color-gray;
@aui-notification-info-text-color: @aui-color-charcoal;
@aui-notification-info-link-color: @aui-link-color;

@aui-notification-success-color: @aui-color-green;

@aui-notification-unchecked-checkbox-error-bg: @ak-color-N10;

@aui-notification-arrow-border: 1px;

@aui-notification-arrow-size: 6px;
@aui-notification-arrow-and-border-size: @aui-notification-arrow-size + @aui-notification-arrow-border;
@aui-notification-arrow-bottom-right-position: 10px;

@aui-notification-tipsy-padding: 4px;
@aui-notification-tipsy-inner-padding: 10px;

@aui-notification-list-padding: 20px;

@aui-notification-icon-outside-field-offset-top: 4px;
@aui-notification-icon-outside-field-offset-right: 2px;

@aui-notification-icon-outside-field-width: 16px;
@aui-notification-icon-outside-field-padding-left: 6px;
@aui-notification-icon-outside-field-padding-right: 16px;
@aui-notification-icon-outside-field-padding-top: 5px;

@aui-notification-line-height: unit(18px / @aui-font-size-medium);

@aui-notification-info-icon: @aui-glyph-info-circle;
@aui-notification-success-icon: @aui-glyph-check-circle;
@aui-notification-error-icon: @aui-glyph-exclamation-circle;
