@import '../theme';

@aui-lozenge-border-radius: @aui-border-radius-small;

@aui-lozenge-bg-color: @ak-color-N500;
@aui-lozenge-border-color: @aui-lozenge-bg-color;
@aui-lozenge-text-color: @ak-color-N0;
@aui-lozenge-subtle-bg-color: @ak-color-N40;
@aui-lozenge-subtle-text-color: @ak-color-N500;
@aui-lozenge-subtle-border-color: @aui-lozenge-subtle-bg-color;

@aui-lozenge-success-bg-color: @ak-color-G400;
@aui-lozenge-success-border-color: @aui-lozenge-success-bg-color;
@aui-lozenge-success-text-color: @ak-color-N0;
@aui-lozenge-success-subtle-bg-color: @ak-color-G50;
@aui-lozenge-success-subtle-text-color: @ak-color-G500;
@aui-lozenge-success-subtle-border-color: @aui-lozenge-success-subtle-bg-color;

@aui-lozenge-current-bg-color: @ak-color-B400;
@aui-lozenge-current-border-color: @aui-lozenge-current-bg-color;
@aui-lozenge-current-text-color: @ak-color-N0;
@aui-lozenge-current-subtle-bg-color: @ak-color-B50;
@aui-lozenge-current-subtle-text-color: @ak-color-B500;
@aui-lozenge-current-subtle-border-color: @aui-lozenge-current-subtle-bg-color;

@aui-lozenge-moved-bg-color: @ak-color-Y400;
@aui-lozenge-moved-border-color: @aui-lozenge-moved-bg-color;
@aui-lozenge-moved-text-color: @ak-color-N800;
@aui-lozenge-moved-subtle-bg-color: @ak-color-Y75;
@aui-lozenge-moved-subtle-text-color: @ak-color-N800;
@aui-lozenge-moved-subtle-border-color: @aui-lozenge-moved-subtle-bg-color;

@aui-lozenge-error-bg-color: @ak-color-R500;
@aui-lozenge-error-border-color: @aui-lozenge-error-bg-color;
@aui-lozenge-error-text-color: @ak-color-N0;
@aui-lozenge-error-subtle-bg-color: @ak-color-R50;
@aui-lozenge-error-subtle-text-color: @ak-color-R500;
@aui-lozenge-error-subtle-border-color: @aui-lozenge-error-subtle-bg-color;

@aui-lozenge-new-bg-color: @ak-color-P400;
@aui-lozenge-new-border-color: @aui-lozenge-new-bg-color;
@aui-lozenge-new-text-color: @ak-color-N0;
@aui-lozenge-new-subtle-bg-color: @ak-color-P50;
@aui-lozenge-new-subtle-text-color: @ak-color-P500;
@aui-lozenge-new-subtle-border-color: @aui-lozenge-new-subtle-bg-color;
