@import '../theme';

@aui-message-default-color: @ak-color-B400;
@aui-message-info-color: @aui-message-default-color;
@aui-message-success-color: @ak-color-G400;
@aui-message-warning-color: @ak-color-Y400;
@aui-message-error-color: @ak-color-R400;
@aui-message-change-color: @ak-color-P400;

@aui-message-default-bg-color: @ak-color-B50;
@aui-message-default-border-color: @aui-message-default-color;
@aui-message-text-color: @aui-text-color;
@aui-message-link-color: @aui-link-color;

@aui-message-border-radius: @aui-border-radius-small;
@aui-message-icon-size: 16px;
@aui-message-side-width: 40px;
@aui-message-padding-right: 15px;
@aui-message-padding-left: 15px;
@aui-message-vertical-padding: 15px;
@aui-message-line-height: 20px;
@aui-message-stacked-spacing: 20px;
@aui-message-close-icon-padding: 15px;

@aui-message-info-bg-color: @ak-color-B50;
@aui-message-info-border-color: @aui-message-info-bg-color;
@aui-message-info-text-color: @aui-message-text-color;
@aui-message-info-icon-color: @aui-message-default-color;
@aui-message-info-icon-glyph: @aui-glyph-info-circle;

@aui-message-success-bg-color: @ak-color-G50;
@aui-message-success-border-color: @aui-message-success-bg-color;
@aui-message-success-text-color: @aui-message-text-color;
@aui-message-success-icon-color: @aui-message-success-color;
@aui-message-success-icon-glyph: @aui-glyph-check-circle;

@aui-message-warning-bg-color: @ak-color-Y50;
@aui-message-warning-border-color: @aui-message-warning-bg-color;
@aui-message-warning-text-color: @aui-message-text-color;
@aui-message-warning-icon-color: @aui-message-warning-color;
@aui-message-warning-icon-glyph: @aui-glyph-exclamation-triangle;

@aui-message-error-bg-color: @ak-color-R50;
@aui-message-error-border-color: @aui-message-error-bg-color;
@aui-message-error-text-color: @aui-message-text-color;
@aui-message-error-icon-color: @aui-message-error-color;
@aui-message-error-icon-glyph: @aui-glyph-exclamation-circle;

@aui-message-change-bg-color: @ak-color-P50;
@aui-message-change-border-color: @aui-message-change-bg-color;
@aui-message-change-text-color: @aui-message-text-color;
@aui-message-change-icon-color: @aui-message-change-color;
@aui-message-change-icon-glyph: @aui-glyph-question-circle;

@aui-message-close-icon-glyph: @aui-glyph-close;
@aui-message-close-icon-color: @ak-color-N400;
