<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="//unpkg.com/@atlassian/aui@{{version}}/dist/aui/css/aui.min.css" media="all">
</head>
<body>
<div id="page" class="aui-page-notification aui-page-size-small">
    <header id="header" role="banner">
        <nav class="aui-header aui-dropdown2-trigger-group" role="navigation" data-aui-responsive="true">
            <div class="aui-header-inner">
                <div class="aui-header-primary">
                    <h1 id="logo" class="aui-header-logo aui-header-logo-aui">
                        <a href="/aui"><span class="aui-header-logo-device">AUI</span></a>
                    </h1>
                </div>
            </div>
        </nav>
    </header>
    {{{ contents }}}
    <footer id="footer" role="contentinfo">
        <section class="footer-body">
            <div id="footer-logo"><a href="http://www.atlassian.com">Atlassian</a></div>
        </section>
    </footer>
</div>
</body>
</html>
