.aui-header-secondary .aui-nav {
    position:absolute;
    right: 0;
}

.aui-header-primary .aui-nav {
    white-space: nowrap;
    width: 0px;
}

.aui-header-primary .aui-nav > li {
    display: inline-block;
    float: none;
}

.aui-header .aui-header-secondary {
    position: relative;
}
