/**
 * Do not load AUI resources for test pages - they must be viewed in the refapp.
 */
.aui-icon-test16-dark {
    background-image: url('img/icon-test-16.png');
}
.aui-icon-test16 {
    background-image: url('img/icon-test-16.png');
}

.aui-docs-label {
    background: rgba(232, 215, 92, 0.5);
    border: 1px solid rgba(232, 215, 92, 1);
    text-align: center;
}
