
.aui-test,
.aui-demo {
    border: 0;
    margin-bottom: 40px;
}


.aui-test,
.sources {
    clear: both;
}

.JSsource,
.HTMLsource {
    border: 1px dashed;
}

.view-js-source-link,
.view-html-source-link {
    margin-top: 10px;
    margin-bottom: 10px;
}

.view-js-source-link a,
.view-html-source-link a {
    text-decoration: none;
}

.view-js-source-link a:hover,
.view-html-source-link a:hover {
    color: darkblue;
    text-decoration: none;
}

.shim-test {
    padding:15px;
    border:1px dashed darkslateblue;
    background-color:#eee;
}

.shim-testing {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    text-align: center;
    border-top: 1px solid;
}

.shims-required .shim-test,
.shims-required-left .shim-test {
    display: inline-block;
    left: 0;
}

.shims-required-right {
    overflow: auto;
}

.shims-required-right .shim-test {
    float: right;
}

.shims-required-center .shim-test {
    width: 500px;
    margin: 0 auto;
    text-align: center;
}
