<aui-docs-example live-demo>
    <noscript is="aui-docs-code" type="text/html">
        <nav class="aui-header" role="navigation" id="custom-spinner-example">
            <div class="aui-nav-secondary">
                <ul class="aui-nav">
                    <li>
                        <form class="aui-quicksearch" method="post" action="/foo">
                            <label class="assistive" for="quicksearchid">Text search</label>
                            <input type="text" name="quicksearchname" placeholder="Type to see a spinner" class="search" id="quicksearchid">
                        </form>
                    </li>
                </ul>
            </div>
        </nav>
    </noscript>
    <noscript is="aui-docs-code" type="text/css">
        #custom-spinner-example .aui-quicksearch input {
            width: 20em;
        }
        #custom-spinner-example .aui-quicksearch.custom-quicksearch-indicator::after {
            display: none;
        }
        #custom-spinner-example .aui-quicksearch.custom-quicksearch-indicator aui-spinner {
            color: inherit;
            position: absolute;
            right: 20px;
        }
    </noscript>
    <noscript is="aui-docs-code" type="text/js">
    (function() {
        var spinner = document.createElement('aui-spinner');
        spinner.setAttribute('size', 'small');

        function startSearching() {
            var $container = AJS.$('.aui-quicksearch');
            $container.addClass('custom-quicksearch-indicator');
            $container.append(spinner);

            return function stop() {
                $container.removeClass('custom-quicksearch-indicator');
                $container.find(spinner).remove();
            }
        }

        var searchTimeout = null;
        AJS.$(document).on('input', '#quicksearchid', function(e) {
            var stopSearching = startSearching();
            clearTimeout(searchTimeout);
            searchTimeout = setTimeout(stopSearching, 2000);
        });

        AJS.$(document).on('submit', '.aui-quicksearch', function(e) {
            e.preventDefault();
        });
    }());
    </noscript>
</aui-docs-example>
