<aui-dropdown-menu id="{{id}}">
    <aui-section>
        <aui-item-link href="/aui/archive.html">Older versions</aui-item-link>
    </aui-section>

    <aui-section>
        <aui-item-link href="https://bitbucket.org/atlassian/aui/src/{{ version }}/CHANGELOG.md">Changelog</aui-item-link>
    </aui-section>
</aui-dropdown-menu>
