<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        {{#if indexPage}}
            <title>{{title}}</title>
        {{else}}
            <title>{{component}} - AUI Documentation</title>
        {{/if}}
        <link rel="preload" href="{{rootPath}}fonts/adgs-icons.woff" as="font" />
        <link rel="preload" href="{{rootPath}}fonts/adgs-icons.ttf" as="font" />
        <link rel="preload" href="{{rootPath}}fonts/adgs-icons.eot" as="font" />
        <link rel="preload" href="/aui/versions.json" as="fetch" type="application/json" />
        <link rel="stylesheet" href="{{rootPath}}index.css">
        <script id="dist-location" type="text/html">{{distLocation}}</script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/sinon.js/1.15.4/sinon.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.13.4/codemirror.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.13.4/mode/css/css.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.13.4/mode/xml/xml.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.13.4/mode/javascript/javascript.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.13.4/codemirror.min.css">
        <script src="{{rootPath}}index.js"></script>
    </head>
    <body{{#indexPage}} class="aui-page-hybrid"{{/indexPage}}>
        <div id="page">
            <header id="header" role="banner">
                <nav class="aui-header aui-dropdown2-trigger-group" role="navigation" data-aui-responsive="true">
                    <div class="aui-header-inner">
                        <div class="aui-header-primary">
                            <h1 id="logo" class="aui-header-logo aui-header-logo-textonly">
                                <a href="../">
                                    <span class="aui-header-logo-device">AUI</span>
                                </a>
                            </h1>
                            <ul class="aui-nav">
                                <li>
                                    <a href="#" aria-controls="aui-menu-documentation" class="aui-dropdown2-trigger">Documentation</a>
                                    <aui-dropdown-menu id="aui-menu-documentation">
                                        <aui-item-link href="{{rootPath}}docs">Components</aui-item-link>
                                        <aui-item-link href="{{rootPath}}docs/upgrade-guide.html">Upgrade guides</aui-item-link>
                                    </aui-dropdown-menu>
                                </li>
                                <li>
                                    <a href="#" aria-controls="aui-menu-support" class="aui-dropdown2-trigger">Support</a>
                                    <aui-dropdown-menu id="aui-menu-support">
                                        <aui-item-link href="/docs/getting-started.html">Getting started</aui-item-link>
                                        <aui-item-link href="/docs/faq.html">FAQ</aui-item-link>
                                    </aui-dropdown-menu>
                                </li>
                                <li class="aui-version-picker-container">
                                    <a href="#" aria-controls="versions-dropdown" class="aui-dropdown2-trigger">Version {{version}}</a>
                                    {{> versions-dropdown id="versions-dropdown" }}
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>

            {{#if indexPage}}
                {{{ contents }}}
            {{else}}
                <div class="aui-page-panel">
                    <div class="aui-page-panel-inner">
                        <div class="aui-page-panel-nav">
                            {{> sitenav }}
                        </div>

                        <section class="aui-page-panel-content">
                            <div class="aui-page-header">
                                <div class="aui-page-header-inner">
                                    <div class="aui-page-header-main">
                                        <h1 class="component-heading">{{component}}</h1>
                                    </div>
                                    <div class="aui-page-header-actions">
                                        {{> links }}
                                    </div>
                                </div>
                            </div>
                            {{{ contents }}}
                        </section>
                    </div>
                </div>
            {{/if}}

            <footer id="footer" role="contentinfo">
                <section class="footer-body">
                    <ul id="aui-footer-list">
                        <li>Copyright &#169; 2009-<script>document.write(new Date().getUTCFullYear());</script> Atlassian</li>
                        <li><a href="https://bitbucket.org/atlassian/aui/src/{{version}}/LICENSE">License</a></li>
                        <li><a href="https://bitbucket.org/atlassian/aui/src/{{version}}/CHANGELOG.md">Changelog</a></li>
                        <li>{{version}}</li>
                    </ul>
                    <div id="footer-logo"><a href="https://www.atlassian.com/">Atlassian</a></div>
                </section>
            </footer>
        </div>
    </body>
</html>
